body {
    color: rgb(22, 22, 22);
    background: rgba(106, 27, 78, 0.233);
    margin: 0px;
        margin-bottom: 8px;

}

header {
    border: solid 2px rgb(14, 15, 16);
   padding: 5px; 
   font-size: 27px;
   color: brown;
}

.chamada {
    background: rgba(4, 65, 106, 0.212);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content:center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
font-size:35px;
}

p1{
    font-size: 30px;
}

.video2{
display:flex;
justify-content: center;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 5px;
}

.categoria {
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 50px;

}

.categoria-videos img {
    opacity 0,5;
    height: 150px;

}

.categoria-videos img:hover {
    opacity 1.0;
    border: 1px solid green;
}

.categoria h2 {
    color: rgb(228, 42, 42);
}